body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.table tr:hover {
    background-color: #f1f1f1;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
textarea {
    height: 150px;
    resize: vertical;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

p strong {
    color: #333;
}
.description {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid blue;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}
.btn:hover {
    background-color: darkblue;
}
.btn-secondary {
    background-color: #777;
}
.btn-secondary:hover {
    background-color: #555;
}
.btn-warning, .btn-danger {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    margin: 5px;
}
.btn-warning {
    background-color: #ff9800;
}
.btn-warning:hover {
    background-color: #e68900;
}
.btn-danger {
    background-color: #e74c3c;
}
.btn-danger:hover {
    background-color: #c0392b;
}


.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.text-danger {
    color: red;
}

.alert {
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}